<section class="b-team">
  <div class="b-team__layout" data-load-items="7">
   {{ content.field_team_member }}
  </div>
  <div class="b-team__load-more">
    <a href="{{ content.field_link.0['#url'] }}" class="l-btn l-btn--green" data-load-more>{{ content.field_link.0['#title'] }}</a>
  </div>
 {{ content.field_team_positions }}
</section>