<div class="b-team__footer bg-gray">
  <div class="l-triangle"></div>
  <div class="l-container">
    <div class="b-team__footer-box">
      <h2 class="b-team__footer-title h2">{{ content.field_title }}</h2>
      <p class="b-team__footer-text">{{ content.field_description }}</p>
      <a href="{{ content.field_link.0['#url'] }}" class="l-btn l-btn--green b-team__footer-link" >{{ content.field_link.0['#title'] }}</a>
    </div>
  </div>
</div>