<header class="b-header b-header--careers">
  <div class="l-container">
    <div class="b-header__hexagon-background">
      <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}">
    </div>
    <div class="b-header__headline">
      <div class="l-container">
        <div class="" intro-animate>
          <h1 class="b-header__title h1">{{ content.field_title }}</h1>
          <hr>
          <p class="b-header__body">{{ content.field_description }}</p>
        </div>
      </div>
    </div>
  </div>
</header>