<article class="m-box m-box--media-top offset-lvl-2">
  <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}">
  <div class="m-box__title">{{ content.field_title }}</div>
  <div class="m-box__body">{{ content.field_description }} </div>
</article>