<section class="b-blog">
  <div class="b-blog__layout" data-load-items="7">
   {{ content.field_single_blog }}
   </div>
  <a href="#" class="l-btn l-btn--green" data-load-more >
    {{ content.field_link.0['#title'] }}
  </a>
</section>