  <section class="b-promotion bg-gray">
            <div class="l-container">
                <hr class="orange">
                <h2 class="h2">{{content.field_title}}</h2>
                <p>{{content.field_description}}</p>
                 <form action="#" method="POST" id="m-form--newsletter" class="m-form m-form--newsletter" enctype="multipart/form-data" autocomplete="off">
                    <fieldset class="m-form__fieldset">
                        <label for="name" class="m-form__label l-visibility-hidden">Your email</label>
                        <input type="email" name="email" value="" id="m-form__name" class="m-form__input" placeholder="Your email">
                        <button type="submit" name="button" class="l-btn l-btn--green m-form__btn" id="m-form__submit">SUBSCRIBE</button>
                        <div class="m-form__validation">Please provide us with name.</div>
                    </fieldset>
                </form>
            </div>
        </section>