<header class="b-header">
<div class="l-container">
  <div class="b-header__hexagon-background">
      <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}">
  </div>

  {{ content.field_header_description }}
</div>
</header>

