<div class="m-slider__item">
  <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}" alt="" class="m-slider__img">
  <div class="m-slider__title">{{ content.field_subtitle }}</div>
  <p class="m-slider__text">{{ content.field_description }}</p>
</div>


