<section class="b-built-by">
    <div class="b-built-by__layout">
        <header class="b-built-by__header">
            <h2 class="h2">{{ content.field_title }}</h2>
            <p class="b-built-by__subtitle">{{ content.field_description }}</p>
        </header>
       {{ content.field_built_article }}
    </div>
</section>