<section class="b-promotion b-promotion--home">
    <div class="l-container">
        <hr class="orange">
        <h2 class="h2">{{ content.field_title }}</h2>
        <p>{{ content.field_description }}</p>
        <a href="#" class="l-btn l-btn--green">Request a quote</a>
    </div>
</section>