
<section class="b-partnerships">
    <div class="triangle"></div>
    <div class="b-partnerships__layout">
        <div class="m-box-hexagone b-partnerships__intro">
            <h2 class="h2">{{ content.field_subtitle }}</h2>
            <p>{{ content.field_decription }} </p>
        </div>
        {{ content.field_partner_tiles }}
    </div>
</section>