<div class="m-article__header">
  <div class="m-article__header-tag">{{ content.field_header_tag }}</div>
  <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}" class="m-article__header-img">
</div>