<section class="b-help">
    <div class="b-help__layout l-container js-help__layout">
        <div class="b-help__intro">
            <h2 class="b-help__intro-title h2">{{ content.field_subtitle }}</h2>
            <p class="b-help__intro-body">{{ content.field_description }}</p>
            <a href="#" class="l-btn l-btn--green">Learn More</a>
        </div>
        {{ content.field_tiles }}
    </div>
</section>