
    <button type="button" class="icon-arrow slick-arrow--prev"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="18" viewBox="0 0 35 18"><g><g opacity="1" transform="rotate(-180 17.5 9.5)"><path fill="#000000" d="M26.272 7.75H0v4.5h26.272V19L35 10l-8.728-9z"/></g></g></svg></button>
    <button type="button" class="icon-arrow slick-arrow--next"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="18" viewBox="0 0 35 18"><g><g><path fill="#323231" d="M26.272 6.75H0v4.5h26.272V18L35 9l-8.728-9z"/></g></g></svg></button>
    <div class="b-slider__right-side-overflow">
    <div class="b-slider__slider-background"></div>
        <div class="m-slider m-slider--why-us js-slider--why-us">

        {{  content.field_slide }}

        </div>
    </div>
