<div class="b-footer__left">
  {% for item in content.field_image['#items'] %}
    <img src="{{ file_url(item.entity.uri.value ) }}" class="b-footer__logo">
  {% endfor %}
    <p class="b-footer__copy-right">{{ content.field_subtitle }}</p>
</div>