<div class="b-footer__left">
    <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}" class="b-footer__logo">
    <p class="b-footer__copy-right">{{ content.field_subtitle }}</p>
</div>