<div class="l-container">
     <div class="b-header__headline">
        <div class="l-container">
            <div class="" intro-animate>
                <div class="b-header__sub-title"></div>
                <h1 class="b-header__title b-header__title--uppercase h1"> {{ paragraph.field_intro_subtitle.value }}</h1>
                <hr>
                <p class="b-header__body">{{ paragraph.field_intro_description.value }}</p>
                <a href="#" class="l-btn l-btn--green">{{ paragraph.field_intro_link.value['title'] }}</a>
            </div>
        </div>
    </div>
</div>