<header class="b-header">
<div class="l-container">
  <div class="b-header__hexagon-background">
    {% for item in content.field_image['#items'] %}
      <img src="{{ file_url(item.entity.uri.value ) }}">
    {% endfor %}
  </div>

  {{ content.field_header_description }}
</div>
</header>

