<div class="b-header__headline">
  <div class="l-container">
    <div class="" intro-animate>
      <h1 class="b-header__title h1">{{ content.field_title }} </h1>
      <hr>
      <p class="b-header__body">
        {{ content.field_about_us_text }}</p>
      <a href="{{ content.field_link.0['#url'] }}" class="l-btn" >{{ content.field_link.0['#title'] }}</a>
    </div>
  </div>
</div>