<header class="b-header b-header--about-us">
  <div class="l-container">
    <div class="b-header__hexagon-background">
      <img src="{{ file_url(elements.field_image['#items'].entity.uri.value ) }}"/>
    </div>
    {{ content.field_about_us_description }}
  </div>
</header>